.solicitar-contenedor{
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.solicitar-boton,
.solicitar-boton:disabled:hover {
    margin-bottom: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--negro-opacidad-75);
    color: var(--blanco);
    background-color: var(--negro-opacidad-75);
    font-family: var(--font-family-2);
    transition: all 0.5s;
}

.solicitar-boton:disabled { opacity: 0.2; }

.solicitar-boton:disabled:hover {
    letter-spacing: 0;
    cursor: default; 
}

.solicitar-boton:hover {
    letter-spacing: 1px;
    color: var(--blanco);
    border: 1px solid var(--verde-medio);
    background-color: var(--verde-medio);
}

.mensaje-carrito{
    height: 70px;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: var(--blanco);
    background-color: var(--negro);
    font-size: var(--font-size-3);
    transform: translate(7px, 55px);
}