.solicitar-contenedor{
    margin-bottom: 10px;
    padding: 5px;
   
}

.solicitar-boton {
    margin-bottom: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: var(--font-size-2); 
    font-family: monospace;
    color: black;
    border-radius: 5px;
    border: var(--buscar-boton-border);
    border: 2px solid white;
    font-size: var(--font-size-1);
    color: var( --buscar-boton-color);
    background-color: var(--buscar-boton-bgcolor);
    transition: all 0.5s;
}

.solicitar-boton:hover {
    color: white;
    background-color: rgba(47, 83, 52, 0.76);
    border: 2px solid rgba(47, 83, 52, 0.76);
    letter-spacing: 1px;
}

.mensaje-carrito{
    padding: 5px 2px;
    font-size: var(--font-size-1);
    background-color: var(--mensaje-carrito-bgcolor);
    border-top: var(--mensaje-carrito-border);
    border-bottom: var(--mensaje-carrito-border);
}