.buscar-contenedor {
   padding: 10px 5px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.buscar-contenedor input{
    max-width: 100%;
    min-width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--gris-claro-2);
    font-size: var(--font-size-0);
}

.buscar-contenedor input:hover { box-shadow: 0 0 5px var(--blanco); }

.buscar-boton {
    min-width: 85px;
    max-width: 100px;
    height: 30px;
    padding: 10px 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--negro-opacidad-75);
    color: var(--blanco);
    background-color: var(--negro-opacidad-75);
    font-family: var(--font-family-2);
    transition: all 0.5s;
}

.buscar-boton:hover {
    background-color: var(--negro);
    border: 1px solid  var(--negro);
}