.contador {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-sumar,
.boton-restar {
    margin-right: 15px;
    margin-left: 15px;
    width: 50px;
    height: 25px;
    font-size: 22px;
    border-radius: 5px;
    border: var(--contador-botones-border);
    box-shadow: var(--contador-botones-boxshadow);
}

.boton-sumar:hover,
.boton-restar:hover {
    cursor: pointer;
    background-color: var(--contador-botones-hover-bgcolor);
    box-shadow: var(--contador-botones-hover-boxshadow);
    
}

.precio-total {
    width: 80px;
}