.filtro {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.filtro button{
    padding: 15px 15px;
    min-width: 70% ;
    border: 0;
    border-bottom-right-radius: 50px; 
    border-top-right-radius: 50px;
    cursor: pointer;
    font-size: var(--font-size-2);
    color: var(--filtro-boton-color);
    background-color: var(--filtro-boton-bgcolor);
    box-shadow: var(--filtro-boton-boxshadow);
    transition: min-width 0.7s;
}

.filtro button:focus{
    min-width: 95% ;
    background-color: var( --filtro-boton-hover-bgcolor);
    border-left: var(--filtro-boton-hover-border);
}

.filtro button:hover{
    min-width: 95% ;
    background-color: var( --filtro-boton-hover-bgcolor);
    border-left: var(--filtro-boton-hover-border);
}