.filtro {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.filtro button{
    padding: 15px 15px;
    min-width: 70% ;
    border: 0;
    border-bottom-right-radius: 50px; 
    border-top-right-radius: 50px;
    cursor: pointer;
    box-shadow: 3px -2px 10px var(--negro-opacidad-30);
    color: var(--blanco);
    background-color: var(--verde-medio-opacidad-65);
    font-size: var(--font-size-2);
    transition: min-width 0.7s;
}

.filtro button:focus,
.filtro button:hover {
    min-width: 95% ;
    background-color: var(--negro-opacidad-75);
    border-left: 5px solid var(--blanco);
}
