.lechuzas {
    padding: 10px 2px;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-scrollbar {
      display: none;  
    };
}
  
.lechuzas::-webkit-scrollbar { display: none; }

.overflow-oculto { overflow-y:hidden; }

.lechuzas-info { font-style: italic; }

.lechuzas-total {
    padding: 5px 5px 10px;
    font-style:normal;
    font-weight: bold;
    border-bottom: 1px solid var(--blanco);
}

.lechuzas-total-paquetes {
    height: auto;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
}

.lechuzas-total-paquetes li {
    margin: 5px 0;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-style:normal;
    border-radius: 10px;
    background-color: var(--blanco-opacidad-50);
}

.lechuzas-total-paquetes button {
    max-width: 70%;
    padding: 5px 3px;
    margin-bottom:5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--negro-opacidad-75);
    color: var(--blanco);
    background-color: var(--negro-opacidad-75);
    font-family: var(--font-family-2);
    transition: all 0.5s;
}

.lechuzas-total-paquetes button:hover {
    background-color: var(--negro);
    border: 1px solid var(--negro);
}

.lechuzas-confirmacion {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    color: var(--blanco);
    background-color: var(--negro-opacidad-85);
}

.lechuzas-confirmacion-p1{ padding: 20px 0px;}

.lechuzas-confirmacion-p2{
    padding: 20px 5px;
    border-radius: 5px;
    border: 1px solid var(--blanco);
    background-color: var(--negro-opacidad-75);
}

.lechuzas-confirmacion-p3{ padding: 20px 0px; }

.lechuzas-confirmacion-botones{
    display: flex;
    gap: 10px;
}

.lechuzas-confirmacion-botones button{
    padding: 9px 5px;
    border-radius: 5px;
    border: 1px solid var(--blanco);
    color: var(--negro);
    background-color: var(--blanco);
    font-family: var(--font-family-2);
    transition: all 0.5s;
}

.lechuzas-confirmacion-botones button:hover{
    border: 1px solid var(--blanco);
    color: var(--blanco);
    background-color:var(--verde-medio) ;
}


@media (min-width:720px) {
    .lechuzas-info {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        border-top: 3px solid var(--blanco);
    }

    .lechuzas-total {
        padding: 5px 0 0;
        border-bottom: none;
    }
}
