.tarjeta {
    min-width: 230px;
    width: min(320px, 30%);
    height: 490px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--gris-plata);
    position: relative;
}
 
.tarjeta-imagen-contenedor { 
    width: 100%;
    height: 200px;
    padding:5px;
}

.tarjeta-imagen{
    width: 100%;
    min-height: 130px;
    max-height: 130px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--blanco);
}

.tarjeta-nombre {
    min-height: 50px;
    padding: 5px;  
}

.tarjeta-descripcion {
  height: 60px;
  padding: 0 5px;
  line-height: 20px;
  overflow: hidden;
}

.tarjeta-precio-contenedor {
    padding: 10px 5px;  
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 230px;
    margin: 0 auto;
}

.tarjeta-precio { text-decoration:line-through; }

.tarjeta-descuento { font-weight: bold; }

.tarjeta-precio-final { font-style: italic; }

.contador-mensaje{
    margin-bottom: 5px;
    padding: 5px 2px;
    color: var(--verde-oscuro-3) ;
    background-color: var(--verde-mensaje-bg-2) ;
    border: 10px solid var(--gris-plata);
}

@media (min-width: 720px) { 
    .tarjeta { height: 600px; }

    .tarjeta-imagen-contenedor { height: 300px; }
    
    .tarjeta-imagen{ min-height: 230px;}

    .tarjeta-nombre { min-height: 60px; }

    .tarjeta-descripcion { height: 70px;}
}