.tarjeta {
    min-width: 230px;
    width: min(320px, 30%);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--gris-plata);
}
 
.tarjeta-imagen-contenedor { 
    width: 100%;
    height: 300px;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-imagen{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tarjeta-nombre {
    padding: 5px;  
    font-size: var(--font-size-3);  
}

.tarjeta-precio-contenedor {
    padding: 10px 5px;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tarjeta-precio { text-decoration:line-through; }

.tarjeta-descuento { font-weight: bold; }

.tarjeta-precio-final { font-style: italic; }

.tarjeta-descripcion {
  padding: 0 5px;
  line-height: 20px;
}

.contador-mensaje{
    margin-bottom: 5px;
    padding: 5px 2px;
    color: var(--verde-mensaje) ;
    background-color: var(--verde-mensaje-bg-2) ;
}