.campus {
    /* calendario */
    --evento-calendario-1: rgb(49, 109, 76);
    --evento-calendario-2: rgb(92, 216, 129);
    --evento-calendario-3: rgb(161, 247, 159);
    --evento-calendario-4: rgb(180, 156, 212);
    --evento-calendario-5: rgb(83, 132, 160);

    /* trivia cargando */
    --cargando-1: rgb(0, 125, 182);
    --cargando-2: rgb(0, 143, 178); 
    --cargando-3: rgb(0, 155, 158);
    --cargando-4: rgb(0, 167, 125);
    --cargando-5: rgb(0, 178, 71);
}

.campus-contenedor{
    padding-bottom: 30px;
    background-image: linear-gradient( to right,
     #0f855dbd 10%,
     #81c29ebd 30%,
     #81d681bd 70%);
}

.campus-titulos {
    padding: 15px 5px;
    letter-spacing: 1.5px;
    border-top: 5px solid var(--negro);
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);      
    background-color: var(--gris-oscuro-2);
    font-size: var(--font-size-4);
}

.campus-descripcion {
    margin: 0 25px;
    padding-top:20px;
    padding-bottom:20px;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid var(--blanco);
    font-size: var(--font-size-2);
}


@media (min-width: 720px) {
    .campus-contenedor{
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .campus-descripcion { margin: 0 45px; }
}