:root {
 /* colores de las casas */
  --gryffindor-rojo: rgb(156, 22, 22);
  --gryffindor-rojo-bg: rgba(212, 95, 95, 0.5);
  --hufflepuff-amarillo: rgb(255, 255, 0);
  --hufflepuff-amarillo-bg: rgba(255, 255, 0, 0.4);
  --slytherin-verde: rgb(49, 112, 49); 
  --slytherin-verde-bg: rgba(0, 128, 0, 0.4);
  --ravenclaw-azul: rgb(24, 24, 146); 
  --ravenclaw-azul-bg: rgb(9, 69, 180, 0.4);

 /* gradiente del sitio */
  --verde-gradiente: linear-gradient( to right,
   #0f855dbd 10%,
   rgba(129, 194, 158, 0.741) 30%,
   #81d681bd 70%); 

/* colores del sitio */
/* ------- verdes -----  */
  --verde-claro-chillon:rgb(118, 231, 74);
  /* --verde-claro: rgb(76, 100, 80); */
  /* --verde-medio: rgb(69, 115, 85); */
  --verde-medio: rgb(43, 129, 94);
  --verde-oscuro:rgb(43, 104, 65);
  /* --verde-oscuro-1: rgb(15, 133, 94); */
  --verde-oscuro-1: rgb(8, 95, 66);
  --verde-claro-opacidad-60: rgba(128, 194, 157, 0.6) ;
  /* --verde-medio-opacidad-65: rgba(3, 73, 27, 0.6); */
  --verde-medio-opacidad-65: rgba(43, 129, 95, 0.862);

/* ------- grises -----  */
  --gris-plata: rgb(192, 192, 192);
  --gris-claro: rgb(218, 216, 216);
  --gris-claro-2: rgb(185, 183, 183);
  --gris-medio: rgb(82, 82, 82);
  --gris-oscuro: rgb(70, 70, 70);
  --gris-oscuro-2: rgb(51, 51, 51);

  --gris-claro-opacidad-30: rgba(145, 145, 145, 0.294);
  --gris-medio-opacidad-70:rgba(113, 116, 113, 0.7);
  --gris-medio-opacidad-95:rgba(113, 116, 113, 0.95);
  --gris-oscuro-2-opacidad-85: rgba(51, 51, 51, 0.85);
  
  /* ------- blancos -----  */
  --blanco: white;
  --blanco-opacidad-15: rgba(255, 255, 255, 0.15);
  --blanco-opacidad-50: rgba(255, 255, 255, 0.5);
  --blanco-opacidad-65: rgba(255, 255, 255, 0.65);
  --blanco-opacidad-75: rgba(255, 255, 255, 0.75);
  
  /* ------- negros -----  */
  --negro: black;
  --negro-opacidad-30: rgba(0, 0, 0, 0.3);
  --negro-opacidad-45: rgba(0, 0, 0, 0.45);
  --negro-opacidad-65: rgba(0, 0, 0, 0.65);
  --negro-opacidad-75: rgba(0, 0, 0, 0.75);
  --negro-opacidad-85: rgba(0, 0, 0, 0.85);

/* rojo/verde mensajes exito/error */
  --rojo-mensaje: rgb(134, 20, 20);
  --rojo-mensaje-bg: rgba(121, 61, 51, 0.744);
  --rojo-mensaje-border: rgb(41, 3, 3);
  --rojo-mensaje-bg-2: rgba(24, 5, 5, 0.773);
  --rojo-mensaje-border-2: rgb(109, 29, 29);

  --verde-mensaje: rgb(47, 94, 47);
  --verde-mensaje-bg: rgba(104, 175, 104, 0.641);
  --verde-mensaje-border: rgb(3, 44, 12);
  --verde-mensaje-bg-2: rgba(157, 223, 179, 0.541);
  --verde-mensaje-border-2: rgba(13, 63, 17, 0.719);


 /* fuentes del sitio */
  --font-family-1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-family-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font-family-2: monospace; 
  --font-family-3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 /* tamaños de fuente del sitio */
  --font-size-0: clamp(14px, 8px + 0.4vw, 17px);
  --font-size-1: clamp(16px, 8px + 0.9vw, 18px);
  --font-size-2: clamp(16px, 8px + 1vw, 19px);
  --font-size-3: clamp(17px, 8px + 1vw, 20px);
  --font-size-4:clamp(18px, 10px + 1.1vw, 22px);
  --font-size-5:clamp(18px, 10px + 1.6vw, 28px);
 
  --font-size-9: clamp(18px, 10px + 1.4vw, 34px); 
  /* estaba en 16 */

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: var(--font-size-1);
  font-family: var(--font-family-1);
}

body { background-color: var(--negro-opacidad-75); }

.layout-header-contenedor {
  position: relative;
  z-index: 10;
  background-color: var(--negro-opacidad-85);
  border-bottom: 1px solid var(--blanco-opacidad-65);
}

.layout-header {
  max-width: 1300px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  padding:  10px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-header-titulo {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px 15px;
  text-align: center;
  letter-spacing: 1vw;
  border-radius: 15px;
  /* text-shadow: 7px 2px 8px rgb(96, 97, 96); */
  text-shadow: 7px 2px 8px var(--gris-claro-2);
  color: var(--blanco-opacidad-75);
  border-left: 5px solid var(--blanco);
  border-right: 5px solid var(--blanco);
  font-family:var(--font-family-3);
  font-size: var(--font-size-9) ;
}

@media (min-width: 720px) {
  .layout-header-contenedor {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--negro-opacidad-45);
  }

  .layout-header { padding: 3px 30px; }

  .layout-header-titulo { 
    padding: 20px 50px;
    border-radius: 20px;
  }
}