:root {
  --max-width: 1100px;
  --font-size-1: clamp(10px, 8px + 0.8vw, 14px);
  --font-size-2: clamp(12px, 8px + 0.8vw, 16px);
  --font-size-3: clamp(14px, 8px + 0.8vw, 18px);
  --font-size-5: clamp(14px, 12px + 0.8vw, 19px);
  --font-size-8: clamp(18px, 14px + 1.1vw, 26px);
  --font-size-9: clamp(18px, 16px + 1.8vw, 34px);
  --font-size-10: clamp(12px, 10px + 1.1vw, 26px);
  /* background-color: rgb(4, 26, 4); */
  }
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: silver;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* background-color: rgb(145, 150, 146);  */
  /* background-image: url("../public/pattern.jpg"); */
}

.layout-header-contenedor {
  background-color: rgb(177, 173, 173);
  background-color: rgba(63, 63, 63, 0.973);
  background-color: rgba(0, 0, 0, 0.877);
  border-bottom: 5px solid rgba(247, 245, 245, 0.658);
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.layout-header-titulo {
  color: rgb(207, 203, 203);
  text-shadow: 7px 2px 8px rgb(96, 97, 96);
  letter-spacing: 4px;
  font-size: var(--font-size-9) ;
  text-align: left;
  
}

.layout2{
  position: relative;
}

.layout2-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2);
  position: sticky;
  top: 0;
  z-index: 20;
 
}

.layout2-contenedor h2 {
  padding: 10px 2px;
  flex-grow: 2;
  background-color: rgba(221, 223, 221, 0.87);
  letter-spacing: 1px;
 
 

}