.main-contenedor {
  position: relative;
  z-index:5;
}

.home-contenedor { background-color: var(--negro); }

.home-contenedor::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-image: url(../public/wallpaper1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(1px) grayscale(0.5); 
  background-position: center;
  background-size: cover;
}

@media (min-width: 720px) {
  .main-contenedor {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--negro-opacidad-30);
  }
}



