.faq-contenedor {
  position: relative;
  z-index: 20;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 50px;
}

.faq-pregunta {
  margin-top: 20px;
  padding: 15px 5px;
  cursor: pointer;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--negro-opacidad-65);
  border: 1px solid var(--gris-oscuro-2);
  color: var(--blanco);
  background-color: var(--negro-opacidad-85);
  font-size: var(--font-size-3);
  font-family:var(--font-family-3);
}

.faq-respuesta {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 20px;
  line-height: 25px;
  /* text-shadow: 0.3px -0.8px 1px rgba(40, 41, 40, 0.39); */
  border-bottom: 2px solid var(--blanco);
  background-color: var(--verde-claro-opacidad-50);
}
  
.revelio {
  position: absolute;
  padding-bottom: 5px;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px var(--negro);
  color: var(--gris-plata);
  opacity: 0;
  animation: fadeOut ease 5s;

}

.faq-respuesta-texto {
  padding: 5px 0 20px;
  animation: fadeIn ease 4s;
}

.faq-respuesta-link {
  width: 90px;
  margin: 2px 5px 0;
  padding: 2px 0px 0px 0px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: var(--negro);
  border-bottom: 4px solid var(--blanco);
  background-color:var(--gris-plata);
  transition: all 1s;
}

.faq-respuesta-link:hover {
  position: relative;
  z-index: 2;
  padding: 2px 0px 0px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid var(--verde-claro-chillon);
}
 
.faq-respuesta-icon {
 position: relative;
 left: -2px;
 z-index: -2;
 text-align: left;
 animation: fadeIn ease 4s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  
  100% {
    opacity:1;
  }
}

@keyframes fadeOut{
  0% {
    opacity:0;
    transform: translateX(50%);
  }

  25% {
    opacity:0.6; 
  }

  50% {
    opacity:1;
    transform: translateY(-30px);
  }

  60%{
    transform: translateY(-30px);
  }

  75% {
    opacity:0.7;
  }

  100% {
    opacity:0;
    transform: translateY(-30px);
  }
}


@media (min-width: 720px) {
  .faq-respuesta { background-color: var(--verde-claro-opacidad-50); }
}