footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    border-top: 2px solid var(--blanco);
    background-color: var(--negro-opacidad-85);
}