/* .login-contenedor {} */

.login {
    position: relative;
    z-index: 1;
    padding-bottom:100px;
    border-radius: 10px;
    background-color: var(--blanco-opacidad-15);
}

.login-titulo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding: 12px 5px;
    text-align: center;
    letter-spacing: 4px;
    box-shadow: 5px 5px 20px var(--negro-opacidad-65);
    color: var(--blanco);
    border-top: 1px solid var(--blanco);
    background-color: var(--negro-opacidad-85);
    font-size: var(--font-size-4);
    font-family: var(--font-family-2);
    letter-spacing: 6px;
}

.login-formulario{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-usuario, 
.login-clave { 
    width: 70%;
    padding: 5px 10px;
    display: block; 
    border-radius: 5px;
    border: 1px solid var(--blanco);
    color: var(--blanco);
    background-color: var(--gris-oscuro-2-opacidad-85);
    letter-spacing: 0.5px;
    font-family: var(--font-family-2);
    font-size: var(--font-size-2);
    transition: all 0.3s;
}
 
.login-usuario:hover,
.login-clave:hover {
    box-shadow: 0 0 4px var(--blanco);
}

.login-usuario:focus,
.login-clave:focus {
    outline: none;
    border: 1px solid var(--blanco);
    background-color: var(--negro-opacidad-45);
}

.login-usuario::placeholder,
.login-clave::placeholder {
    color: var(--blanco);
    font-family: var(--font-family-2);
    font-size: var(--font-size-0);
}

.login-mostrar-clave-boton {
    width: 80px;
    padding: 3px 1px;
    border-radius: 5px;
    cursor: pointer; 
    font-weight: bold;
    font-size: 14px;
    font-family: var(--font-family-2);
    color: var(--gris-oscuro-2);
    border: 1px solid var(--gris-plata);
    background-color: var(--gris-plata);
    transition: all 0.3s;
}

.login-mostrar-clave-boton:hover {
    box-shadow: 0 0 5px var(--blanco); 
    color: var(--blanco);
    background-color: var(--gris-medio);
}

.login-error { 
    margin: 10px 10px 0;
    padding: 12px;
    color: var(--blanco);
    border-left: 12px solid var(--rojo-mensaje-border-2);
    background-color: var(--rojo-mensaje-bg-2);
    font-family: var(--font-family-2);
    font-style: italic;
}

.login-mensaje {
    margin-top: 10px; 
    padding: 12px;
    border-left: 12px solid var(--verde-mensaje-border-2);
    background-color: var(--verde-mensaje-bg-2);
    font-size: var(--font-size-3);
    font-family: var(--font-family-2);
    font-weight: bold;
    font-style: italic;
    color: var(--negro-opacidad-85);
}

.login-alohomora-boton {
    width: 190px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 4px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var( --verde-claro);
    box-shadow: 0px 0px 8px var(--gris-oscuro-2);
    letter-spacing: 3px;
    font-weight: bold;
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    color: var(--blanco);
    background-color: var( --verde-claro);
    transition: all 0.8s;
}

.login-alohomora-boton:hover {
    box-shadow: 0px 0px 10px var(--blanco);
    border: 2px solid var(--negro);
    color: var(--blanco);
    background-color: var(--negro);
}

.login-entrar-boton {
    width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 5px;
    display: block;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    border-radius: 10px;
    box-shadow: 0 0 5px;
    color: var(--blanco);
    background-color: var(--negro);
    transition: all 0.7s;
    animation: pulse 1s linear infinite;
}

.login-entrar-boton:hover {
    letter-spacing: 6px;
    box-shadow: 0 0 5px;
    outline: 1px solid var(--blanco);
    background-color: var(--negro);
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    
    50% {
      transform: scale(0.97);
    }
    
    100% {
      transform: scale(1);
    }
  }

@media (min-width: 720px) {
    .login-contenedor {
        position: relative;
        max-width: 1200px;
        min-height: 400px;
        padding-top: 90px;
        padding-right: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .login {
        position: relative;
        z-index: 1;
        border-radius: 10px;
        background-color: var(--gris-claro-opacidad-30);
    }
    
    .login-titulo { background-color: transparent; }
} 