.musica-contenedor {
    min-width: 50px;
    width: 80px;
    padding: 0 5px;
}

.musica-boton {
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.8px;
    box-shadow: 2px 1px 2px var(--gris-medio);
    border: 2px solid var(--gris-plata);
    background-color: var(--gris-plata);
    transition: all 0.5s;
}

.musica-boton:hover {
    border: 2px solid var(--blanco);
    box-shadow: 0 0 8px var(--blanco);
}

@media (min-width: 500px) {
    .musica-contenedor {
        min-width: 65px;
        width: 100px;
        margin:0 10px;
    }

    .musica-boton { padding: 3px 10px; }
  }