.nav-icon {
    width: 32px;
    height: 4px;
    margin-left:20px;
    margin-right:10px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: var(--negro);
}

.nav {
    width: 96vw;
    margin-top:12px; 
    display: none; 
    letter-spacing: 1px;
}

.nav-contenedor .abierto {
    position: absolute;
    display: flex;
    flex-direction: column; 
    padding-top: 0;
} 

.nav-item {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.nav-enlaces {
    width: 100%;
    padding: 20px 10px;    
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    border-left: 1px solid var(--blanco);
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);
    background-color: var(--negro-opacidad-85);
    font-size: var(--font-size-2);
}

.nav-enlaces:hover { background-color: var(--negro); }


@media (min-width: 720px) {
    .nav-icon { display:none; }
    
    .nav {
        height: 70px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-item {
        flex-grow: 1;
        border-bottom: 0px solid var(--blanco);
        transition: all 0.5s;
    }

    .nav-contenedor .abierto { display:none; } 

    .nav-item:hover { padding-top: 15px; }
}