.personal-bienvenida {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    gap: 10px;
    border-top: 1px solid var(--blanco);
    border-bottom: 1px solid var(--blanco);
    color: var(--gris-oscuro);
}

.bienvenida-nombre {
    letter-spacing: 0.5px;
    font-weight: bold;
    flex-grow: 1;
}

.bienvenida-anio, .bienvenida-tipo {
    flex-grow: 1;
}

.personal-bienvenida img {
    height: 60px;
    object-fit: cover;
}

.separador {
  width: 100%;
  height: 20px;
  background-color: var(--gris-plata);
}

@media (min-width: 720px) {
  .personal-bienvenida { padding: 0 7vw; }



}