.solicitar-contenedor{
    padding: 5px;
    margin-bottom: 10px;
   
}

.solicitar-boton {
    padding: 5px 30px;
    font-size: var(--font-size-2); 
    margin-bottom: 10px;
    cursor: pointer;
}

.solicitar-boton:hover {

}

.mensaje-carrito{
    font-size: var(--font-size-1);
    background-color: rgba(44, 126, 58, 0.267);
    border-top: 2px solid rgb(17, 17, 17);
    border-bottom: 2px solid rgb(15, 15, 15);
    padding: 5px 2px;
}