.buscar-contenedor {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding: 10px 5px;
}

.buscar-contenedor input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.733);
    max-width: 100%;
    min-width: 70%;
    font-size: var(--font-size-2);
}

.buscar-boton {
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
    transition: all 0.5s;
    border: 1px solid rgba(128, 128, 128, 0.733);
    font-size: var(--font-size-2);
}

.limpiar {
    padding: 5px 10px;
}

.buscar-boton:hover {
    background-color: rgb(3, 3, 3);
    border: 1px solid rgb(0, 0, 0);
}