.faq-contenedor {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 50px;
  font-size: var(--font-size-3);
  position: relative;
  z-index: 20;
}

.faq-pregunta {
  font-weight: bold;
  text-align: center;
  padding: 15px 5px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid rgb(59, 58, 58);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  letter-spacing: 1.5px;
  background-color: rgb(23, 24, 23);
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}

.faq-respuesta {
  color: black;
  padding: 15px 20px;
  background-color: #194219cb;
  background-color: #284d28bd;
  line-height: 25px;
  text-shadow: 0.3px -0.8px 1px rgba(40, 41, 40, 0.39);
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 4px solid rgb(23, 24, 23);
}
  
.revelio {
  position: absolute;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 5px;
  color: silver;
  opacity: 0;
  text-shadow: 2px 2px 2px black;
  animation: fadeOut ease 5s;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.faq-respuesta-texto {
  animation: fadeIn ease 4s;
  padding: 5px 0 20px;
}

.faq-respuesta-link {
  text-decoration: none;
  padding: 2px 0px 0px 0px;
  color: rgb(8, 8, 8);
  background-color: rgba(209, 213, 218, 0.301);
  background-color: #88a888;
  margin: 2px 5px 0;
  border-radius: 5px;
  display: inline-block;
  border-bottom: 4px solid rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  width: 90px;
  transition: all 1s;
  text-align: left;
  font-size: 17px;
  font-size: var(--font-size-1);
}

.faq-respuesta-link:hover {
 border-bottom: 3px solid rgba(149, 151, 153, 0.959);
 border-bottom: 4px solid rgba(148, 43, 5, 0.89);
 border-bottom: 4px solid rgba(118, 231, 74, 0.89);
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 opacity:1; 
 position: relative;
 z-index: 2;
 color: rgb(0, 0, 0);
 padding: 2px 0px 0px 15px;
}
 
.faq-respuesta-icon {
 position: relative;
 left: -2px;
 z-index: -2;
 text-align: left;
 animation: fadeIn ease 4s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  
  100% {
    opacity:1;
  }
}

@keyframes fadeOut{
  0% {
    opacity:0;
    transform: translateX(50%);
  }

  25% {
    opacity:0.6; 
  }

  50% {
    opacity:1;
    transform: translateY(-30px);
  }

  60%{
    transform: translateY(-30px);
  }

  75% {
    opacity:0.7;
  }

  100% {
    opacity:0;
    transform: translateY(-30px);
  }
}
@media (min-width: 720px) {
  .faq-respuesta {
  background-color: #9ddfb38a;}
}