.hogwarts-logo-container {
    height: 100%; 
    max-width: 140px;
    margin-right: 5px;
}

.hogwarts-logo-img {
    width: 100%;
    min-width: 65px;
    max-width: 75px;
    filter:grayscale(1); 
}

@media (min-width: 720px) {

    .hogwarts-logo-img  {
        max-width: 82px;
    }
}