.login-contenedor {
    letter-spacing: 1.2px;
    font-weight: bold;  
    padding-bottom: 50px;
   
}

.login-titulo {
    color: rgb(231, 220, 220);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    border-top: 3px solid rgba(7, 7, 7, 0.137);
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.514);
    background-color: #194219d5;
    letter-spacing: 3px;
    font-size: var(--font-size-10);
}

.login-formulario{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-usuario{ 
    border-radius: 3px;
    border: 2.5px solid #194219;
    border: 2.5px solid #2c2e2c8c;
    font-size: var(--font-size-5);
    display: block; 
    padding: 5px 10px;
    width: 70%;
    border-radius: 5px;
    
}
 
.login-clave{ 
    border-radius: 3px;
    border: 2.5px solid #194219;
    border: 2.5px solid #2c2e2c8c;
    font-size: var(--font-size-5);
    display: block;
    padding: 5px 10px;
    width: 70%;
    border-radius: 5px;
      
}

.login-mostrar-clave-boton {
    width: 80px;
    border-radius: 10px;
    border: 1px solid silver;
    box-shadow: 2px 2px 2px rgb(124, 121, 121); 
    cursor: pointer; 
    padding: 3px 0;
    font-weight: bold;
    color: rgb(58, 56, 56);
    transition: all 0.5s;
}

.login-mostrar-clave-boton:hover {
    background-color: rgba(10, 10, 10, 0.164);
}

.login-error { 
    padding: 12px;
    font-size: var(--font-size-1);
    background-color: #332a2a62;
    border-left: 12px solid rgba(121, 9, 9, 0.562);
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 10px; 
}

.login-mensaje {
    margin-top: 10px; 
    padding: 12px;
    font-size: var(--font-size-1);
    background-color: #332a2a62;
    border-left: 12px solid rgba(13, 63, 17, 0.719);  
}

.login-alohomora-boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #194219d5;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 3px solid rgba(7, 7, 7, 0.137);;
    background-color: #425342fb;
    background-color:#194219d5;
    font-weight: bold;
    transition: all 0.9s;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.login-alohomora-boton:hover {
    background-color: black;
    color: white;
    font-size: 15px;
}

.login-entrar-boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    width: 190px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
    text-decoration: none;
    color: white;
    transition: all 0.7s;
    background-color: #071601; 
    margin-top: 10px;
}

.login-entrar-boton:hover {
    background-color: black;
    letter-spacing: 3px;
}

@media (min-width: 720px) {
    .login-contenedor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 400px;
      padding-right: 35px;
      padding-top: 20px;
      background-color: rgba(42, 56, 40, 0.856);
      background-color: #255025bd;
      background-image: linear-gradient(
        #718171bd 20%,
        #284d28bd 40%,
        #082008bd 60%
      );
    }

    .login-alohomora-boton {
        background-color: #2c422c;
        color: rgb(239, 243, 240);
        border: 3px solid rgba(177, 166, 166, 0.808);
    }

    .login-titulo {
        background-color: #2b442b;
        box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.514);
        color: rgb(28, 31, 29);
        border-top: 5px solid rgba(19, 75, 24, 0.795);
        border-top: 5px solid rgba(21, 26, 21, 0.521);
        color: white;
    }

    .login-mostrar-clave-boton:hover {
        background-color: rgba(194, 190, 190, 0.712);
    }

    .login-error { 
        padding: 12px;
        font-size: var(--font-size-1);
        background-color: #ffffff;
        border-left: 12px solid rgba(109, 29, 29, 0.863);
        margin-top: 10px;
        margin-left: 10px; 
        margin-right: 10px; 
    }
    
    .login-mensaje {
        margin-top: 10px; 
        padding: 12px;
        font-size: var(--font-size-1);
        background-color: #f7f6f6da;
        border-left: 12px solid rgba(13, 63, 17, 0.842);  
    }
  }