.logo {
    width: auto;
    height: 40vh;
}


.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    
}

@media (min-width: 720px) {
    .logo {
        height: 50vh;
        clip-path: circle(40%);
    }
  }