.logo {
    width: auto;
    height: 40vh;
    height: 30vh;
    clip-path: circle(35%);
    filter:opacity(0.8);
}


.logo img{
    /* max-width: min(80%, 340px); */
    height: 100%;
    object-fit: cover;
}


@media (min-width: 400px) {
    .logo {
        clip-path: circle(30%);}
    }

@media (min-width: 600px) {
    .logo {
        height: 40vh;   
        clip-path: circle( 30%);   
    }
}


@media (min-width: 720px) {
    .logo {
        height: 50vh;
        clip-path: circle(40%);
        filter:opacity(0.7);
    }

    .logo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
  }
