.anuncios-contenedor {
    padding-top: 10px;
    text-align: left;
}

.anuncios {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
    background-color: var(--gris-plata);
}

.anuncios-titulo {
    margin-bottom: 15px;
    padding: 12px 0;
    letter-spacing: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--blanco);
    background-color: var( --gris-oscuro-2);
    font-size: var(--font-size-3);
}

.anuncios p {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 2px;
    text-align: left;
}

.anuncios li {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.anuncios .nombramiento{
    list-style: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.anuncios .subrayado { 
    text-decoration: underline; 
    letter-spacing: 1px; 
    display: inline-block;
    margin-top: 8px;
}

.anuncios .rojo {
    width: 90%;
    margin: 15px auto;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--rojo-mensaje);
    border: 2px solid var(--rojo-mensaje);
}

.anuncios .verde {
    text-align: center;
    font-weight: bold;
    color: var(--verde-mensaje);
}


@media (min-width: 720px) {
    .anuncios-contenedor {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .anuncios { 
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .anuncios p{
        padding-left: 5%;
        padding-right: 5%;
    }
}
