.calendario-contenedor {
    padding-top: 20px;
    min-height: 300px;  
}

.calendario-filtro {
    min-width: 320px; 
    /* max-width: 90vw; */
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--gris-oscuro); 
}

.calendario-filtro label {
    flex-grow: 1;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--blanco);
    /* border-left: 3px solid var(--blanco);  */
    border-top: 3px solid var(--blanco); 
    background-color: var(--gris-oscuro);
    font-size: var(--font-size-0);
}
.calendario-filtro label:nth-child(odd) {
  
}

.calendario-filtro input {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-bottom: 5px;
    order: -1;    
    cursor: pointer;
}

.calendario-evento {
    /* max-width: 90vw; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    background-color: var(--gris-plata);
}

.calendario-evento:nth-child(even) { background-color: var(--gris-claro) }

.calendario-contenedor .general { border-left:20px solid var(--evento-calendario-1); }

.calendario-contenedor .examenes { border-left:20px solid var(--evento-calendario-2); }

.calendario-contenedor .quidditch { border-left:20px solid var(--evento-calendario-3); }

.calendario-contenedor .hogsmeade { border-left:20px solid var(--evento-calendario-4); }

.calendario-contenedor .recesos { border-left:20px solid var(--evento-calendario-5); }

.calendario-nombre {
    padding-left: 10px;
    padding-bottom: 5px;
    flex-grow: 1;
    letter-spacing: 0.5px;
    text-align: left;
}

.calendario-fecha {
    padding-left: 20px;
    flex-grow: 1;
    font-size: var(--font-size-3);
    text-align: left;
}

@media (min-width: 380px) {
    .calendario-filtro label {
        font-size: var(--font-size-1); }

    .calendario-filtro { max-width: 90vw; }

    .calendario-evento { max-width: 90vw; }
}

@media (min-width: 720px) {
    .calendario-contenedor{ 
        min-height: 350px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto; 
    }

    .calendario-filtro { max-width: 80vw ; }

    .calendario-evento {
        max-width: 80vw;
        padding: 20px 0;
    }
}