.calendario-contenedor {
    padding-top: 30px;
    min-height: 300px;  
}

.calendario-filtro {
    min-width: 320px; 
    max-width: 90vw;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
}

.calendario-filtro label {
    flex-grow: 1;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--blanco);
    border-left: 3px solid var(--blanco); 
    background-color: var(--gris-oscuro);
    font-family: var(--font-family-2);
}

.calendario-filtro input {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    order: -1;    
    cursor: pointer;
}

.calendario-evento {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    background-color: var(--gris-plata);
}

.calendario-evento:nth-child(even) { background-color: var(--gris-claro) }

.calendario-contenedor .general { border-left:20px solid var(--evento-calendario-1); }

.calendario-contenedor .examenes { border-left:20px solid var(--evento-calendario-2); }

.calendario-contenedor .quidditch { border-left:20px solid var(--evento-calendario-3); }

.calendario-contenedor .hogsmeade { border-left:20px solid var(--evento-calendario-4); }

.calendario-contenedor .recesos { border-left:20px solid var(--evento-calendario-5); }

.calendario-nombre {
    padding-left: 10px;
    padding-bottom: 5px;
    flex-grow: 1;
    letter-spacing: 0.5px;
}

.calendario-fecha {
    padding-left: 20px;
    flex-grow: 1;
    font-size: var(--font-size-2);
}

@media (min-width: 720px) {
    .calendario-contenedor{ min-height: 350px; }

    .calendario-filtro { max-width: 70vw ; }

    .calendario-evento {
        max-width: 70vw;
        padding: 20px 0;
    }
}