.puntos-contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.puntos-casa-contenedor {
    min-height: 120px;
    padding-left: 50px;
    padding-right: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    letter-spacing: 2px;
}

.gryffindor{
    background-color: var(--gryffindor-rojo-bg);
    border-top: 15px solid var(--gryffindor-rojo);
}

.hufflepuff {
    background-color: var(--hufflepuff-amarillo-bg);
    border-top: 15px solid var(--hufflepuff-amarillo);
}

.slytherin{
    background-color: var(--slytherin-verde-bg);
    border-top: 15px solid var(--slytherin-verde);
}

.ravenclaw{
    background-color: var(--ravenclaw-azul-bg);
    border-top: 15px solid var( --ravenclaw-azul);
}

.puntos-imagen{
    min-width: 70px;
    max-width: 110px;
    min-height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.puntos-imagen img { width: 100%; }

.puntos-titulo { font-size: var(--font-size-4); }

.puntos-puntuacion {
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 2px solid var(--negro);
    background-color: var(--negro-opacidad-30);
    font-size: var(--font-size-4);
}


@media (min-width: 720px) {
    .puntos-contenedor { 
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto; 
        flex-direction: row; 
    }

    .puntos-casa-contenedor {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    .gryffindor {
        border-left: 15px solid var(--gryffindor-rojo);  
        border-top: none;
    }
    
    .hufflepuff {
        border-left: 15px solid var(--hufflepuff-amarillo);
        border-top: none;
    }
    
    .slytherin {
        border-left: 15px solid var(--slytherin-verde); 
        border-top: none;
    }
    
    .ravenclaw {
        border-left: 15px solid var( --ravenclaw-azul);
        border-top: none;
    }

    .puntos-imagen{
        max-width: 140px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .puntos-puntuacion { padding: 10px 50px; }
}