/* Estilos para la tarjeta */
.hechizos-contenedor {
    padding-top: 30px;
    min-height: 500px;
}

.hechizos-tarjeta {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    cursor: pointer;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-out; 
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
  }
  
  .hechizos-tarjeta.flip {
    transform: rotateY(180deg);

  }

  /* .hechizos-tarjeta.cover {
    transform: rotateY(0deg);
  } */

  .hechizos-tarjeta .flip-cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
  }

  .hechizos-tarjeta .dorso::before,
  .hechizos-tarjeta::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(../../../public/hogwarts-logo.png);
    background-repeat:space repeat;
    background-size: 40px;
    filter: grayscale(1);
    z-index:-1;
    
  }
  .hechizos-tarjeta .dorso {
    background-color: #000000;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    border-radius: 25px;
    outline: 8px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.301); */
  
  }
  
  .dorso-imagen{ 
    width: 90%;
  }

  .hechizos-tarjeta .frente {
    background-color: rgb(88, 88, 88);
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
    border: 2px solid  rgb(255, 250, 250);
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.301); */
 
    
  }

  .hechizos-pregunta {
    font-weight: bold;
    padding: 10px 5px;
  }

  .hechizos-respuesta {
    height: 30px;
  }
  .hechizos-opciones-contenedor {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    gap: 10px;
    height: 180px;

  }

  .hechizos-botones {
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 5px;
    cursor: pointer;
    background-color: white;
    transition: all 0.9s;
    font-style: italic;
    font-size: var(--font-size-3);
  

  }

  .hechizos-botones:hover,
  .hechizos-nuevo:hover{
    box-shadow: 0 2px 10px white;
    border: 2px solid black;
    background-color: black;
    color: white;

  }

  .hechizos-botones:focus {
    background-color: black;
    color: white;
  }

  .hechizos-nuevo {
    background-color: rgb(51, 51, 51);
    color: white;
    border: 2px solid rgb(51, 51, 51);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    padding: 10px 10px;
    transition: all 0.9s;
    cursor: pointer;
    border-radius: 10px;
    font-size: var(--font-size-3);
    font-family: monospace;
  }

  .dorso:hover {
      animation: pulse 1s linear infinite;
 
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.97);
    }
  
    100% {
      transform: scale(1);
    }
  }