.calificaciones-contenedor {
    max-width: 1000px;
    margin: 20px auto;
}

.calificaciones-item-contenedor {
    margin: 10px 40px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(160px, 1fr));
    gap: 15px;
    list-style: none;
}

.calificaciones-item {
    padding: 10px;
    display: grid;
    grid-template-rows: 35px 30px;
    gap: 5px;
    border: 2px solid var(--negro);
    background-color: var(--gris-plata);
}

.calificaciones-materia {
    flex-grow: 1;
    font-weight: bold;
    font-style: italic;
    font-size: var(--font-size-2); 
    color: var(--gris-oscuro);
}

.calificaciones-nota {
    flex-grow:1;
    font-weight: bold; 
    font-size: var(--font-size-2);
}

.anexo-notas {
    width: 300px;
    margin: 40px auto 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--negro);
    color: var(--blanco);
    background-color: var(--negro-opacidad-85);
}

.anexo-notas p { 
    text-align: left;
    width: 175px;
    margin: 2px auto;
}

.anexo-notas h4 { text-decoration: underline; }

@media (min-width: 720px) {
    .calificaciones-item-contenedor {
        grid-template-columns: repeat(
            auto-fit, minmax(220px, 1fr));
    }

    .calificaciones-item {
        grid-template-rows: 45px 30px;
        gap: 0;
    }
}