.provisiones-contenedor {
  display: grid;
  grid-template-columns:1fr 1fr;
  position: relative;
  /* max-width: 1600px; */
  /* margin-left: auto;
  margin-right:auto; */
 /* background-color: rgba(0, 0, 0, 0.527); */
}

.descripcion-contenedor{
  padding: 30px 10px;
  border-bottom: 5px solid white;
}

.titulo {

}

.descripcion {

}

.contenedor-izquierdo,
.contenedor-derecho {
  background-color: rgba(3, 73, 27, 0.644);
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  order: 1;
  position: sticky;
  top:40px;
}

.contenedor-nombre {
  padding: 10px 20px;
  position: sticky;
  top:0px;
  color: white;
  font-size: var(--font-size-3);
}

.filtro-contenedor,
.lechuzas-contenedor {
  
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 80%;
  
}

.lechuzas-contenedor {
  width: 100%;
  
}
 
.open {

  display: block;
  background-color: rgba(0, 0, 0, 0.637);
  background-color: rgba(113, 116, 113, 0.658);
  position: absolute;
  min-width: 140px;
  max-height: 80vh;
}

.contenedor-derecho .open { 
  /* left: 20%; */
  background-color: rgba(113, 116, 113, 0.767);
  border-bottom: 2px solid rgba(0, 0, 0, 0.562);
  /* border-top: 3px solid rgba(0, 0, 0, 0.336); */
}


.tarjetas-contenedor {
  display:flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  gap: 10px;
  order: 2;
  grid-column: span 3;
}

  
/*   
  @keyframes opacidad{
    
    0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
} */
  
@media (min-width: 720px) {
  .provisiones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin-left: auto;
    margin-right:auto;
  }

  .contenedor-izquierdo,
  .contenedor-derecho {
    border:none; 
  }
  
  .contenedor-izquierdo {
    border-right: 15px solid rgba(0, 0, 0, 0.349);
  }

  .contenedor-derecho {
    border-left: 15px solid rgba(0, 0, 0, 0.349);
  }

  .contenedor-nombre {
    padding: 20px 10px;
  }
   
  .open {
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
    background-color: rgba(140, 148, 143, 0.644);
    position: sticky;
    top:60px;
  }

  .tarjetas-contenedor {
    order: 1;
  }

  .contenedor-derecho .open { 
    background-color: rgba(206, 214, 206, 0.226);
    border-bottom: none
  }
  
}

 