.provisiones-contenedor {
 background-color: lightcoral;
 display: flex;

}

.descripcion-contenedor{
 background-color: blue;
}

.titulo {

}

.descripcion {

}

.filtro-contenedor {
 /* background-color: blueviolet; */
 flex-grow: 10;
}

.filtro-contenedor p{
position: relative;
}

.tarjetas-contenedor {
  display:flex;
  /* flex-grow: 4; */
  flex-wrap: wrap;
}

.lechuzas-contenedor {
  background-color: aqua;
  /* flex-grow: 2; */
}

.box {
  width: 0px; 
  opacity: 0;
  transition: width 1s;
}

.ok {
  border: 10px solid black;
}

.box.open {
    /* width: 200px;
    transform: translateX(-10%);  */
  animation: opacidad 1s 0.6s forwards;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.637);
}

@keyframes opacidad{
  
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}
  

 