.introduccion-contenedor{
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px 20px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduccion-p1,
.introduccion-p3 { 
  font-style: italic; 
  font-size: var(--font-size-2);
}

.introduccion-p2{
  max-width: 60vw;
  margin: 15px 30px;
  padding: 10px 5px;
  letter-spacing: 1px;
  font-weight: bold;
  border-top: 1px solid var(--verde-medio);
  border-bottom: 1px solid var(--verde-medio);
  font-size: var(--font-size-2);
}

.provisiones-contenedor {
  position: relative;
  display: grid;
  grid-template-columns:1fr 1fr;
  background-color: var(--blanco);
}

.contenedor-izquierdo,
.contenedor-derecho {
  position: sticky;
  z-index: 4;
  top:65px;
  order: 1;
  margin: 10px 0;
  cursor: pointer;
  border: 5px solid var(--blanco); 
  background-color: var(--verde-medio);
}

.contenedor-nombre {
  position: sticky;
  top:0;
  padding: 10px 10px;
  color: var(--blanco);
  border-top: 5px solid var(--verde-medio);
  font-size: var(--font-size-2);
  transition: all 0.5s;
}

.contenedor-nombre:hover {
  letter-spacing: 1.5px;
  border-top: 5px solid var(--verde-oscuro-3);
}

.filtro-contenedor,
.lechuzas-contenedor {
  position: absolute;
  top: 100%;
  width: 80%;
  display: none;
}

.lechuzas-contenedor { width: 100%;}
 
.contenedor-izquierdo .abierto,
.contenedor-derecho .abierto {
  position: absolute;
  min-width: 140px;
  max-height: 80vh;
  display: block;
  background-color: var(--gris-medio-opacidad-70);
}

.contenedor-derecho .abierto { 
  border-bottom: 2px solid var(--negro);
  background-color: var(--gris-medio-opacidad-95);
}

.tarjetas-contenedor {
  margin: 10px;
  grid-column: span 3;
  order: 2;
  flex-wrap: wrap;
  display:flex;
  justify-content: space-evenly;
  gap: 10px;
  background-color: var(--blanco);
}

.tarjetas-contenedor .sin-item {
  width: 50vw;
  min-height: 420px;
  padding: 30px 0;
  line-height: 20px;
  font-size: var(--font-size-3);
}


@media (min-width: 443px) {
  .contenedor-izquierdo,
  .contenedor-derecho { top:45px;} }

@media (min-width: 720px) {
  .provisiones-contenedor {
    max-width: 1600px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .introduccion-contenedor{ 
    max-width: 1100px;
  }

  .contenedor-izquierdo,
  .contenedor-derecho { 
    border: none; 
    margin: 0;
  }
  
  .contenedor-derecho { border-right: 10px solid var(--verde-oscuro-3); }

  .contenedor-izquierdo { border-left: 10px solid var(--verde-oscuro-3); }

  .contenedor-nombre { 
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-nombre span{
    order: 2;
    display: block;
    padding-top: 20px;
    font-size: 20px;
  }
   
  .contenedor-nombre:hover { border-top: 5px solid var(--verde-medio); }

  .contenedor-izquierdo .abierto,
  .contenedor-derecho .abierto {
    position: sticky;
    top:60px;
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
    background-color: var(--gris-plata);
  }

  .tarjetas-contenedor { order: 1; 
    margin: 20px;}

  .contenedor-derecho .abierto { 
    border-bottom: none;
    background-color: var(--verde-medio);
  }
}

 